interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.attio.com/v2/objects/people/attributes
  response:
    body:
      string: '{"data":[{"id":{"workspace_id":"74716136-8b3f-4b28-b67f-75d3212684e1","object_id":"0b1c77ca-9b81-47ba-8d2e-490c74901031","attribute_id":"9ce2b02b-ebf8-4dd9-8192-a11b83b419e7"},"title":"Record
        ID","description":null,"api_slug":"record_id","type":"text","is_system_attribute":true,"is_writable":false,"is_required":false,"is_unique":true,"is_multiselect":false,"is_default_value_enabled":false,"is_archived":false,"default_value":null,"relationship":null,"created_at":"2025-11-03T18:16:13.223000000Z","config":{"currency":{"default_currency_code":null,"display_type":null},"record_reference":{"allowed_object_ids":null}}},{"id":{"workspace_id":"74716136-8b3f-4b28-b67f-75d3212684e1","object_id":"0b1c77ca-9b81-47ba-8d2e-490c74901031","attribute_id":"9fd01e3c-e84c-4c8c-a429-78cde4d01947"},"title":"Name","description":null,"api_slug":"name","type":"personal-name","is_system_attribute":true,"is_writable":true,"is_required":false,"is_unique":false,"is_multiselect":false,"is_default_value_enabled":false,"is_archived":false,"default_value":null,"relationship":null,"created_at":"2025-11-03T18:16:13.223000000Z","co[...]
