interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.attio.com/v2/objects/companies/attributes
  response:
    body:
      string: '{"data": [{"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1",
        "object_id": "74179437-bcdc-48d0-b401-e569a1278368", "attribute_id": "b81d44f2-0c9e-4d41-a0b8-7770afd1f5cd"},
        "title": "Record ID", "description": null, "api_slug": "record_id", "type":
        "text", "is_system_attribute": true, "is_writable": false, "is_required":
        false, "is_unique": true, "is_multiselect": false, "is_default_value_enabled":
        false, "is_archived": false, "default_value": null, "relationship": null,
        "created_at": "2025-11-03T18:16:13.224000000Z", "config": {"currency": {"default_currency_code":
        null, "display_type": null}, "record_reference": {"allowed_object_ids": null}}},
        {"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1", "object_id":
        "74179437-bcdc-48d0-b401-e569a1278368", "attribute_id": "cbd78839-21fa-4e0a-bea2-20c201420250"},
        "title": "Domains", "description": null, "api_slug": "domains", "type": "domain",
        "is_system_attribute": true, "is_writable": true, "is_required": false, "is_unique":
        true, "is_multiselect": true, "is_default_value_enabled": false, "is_archived":
        false, "default_value[...]
