interactions:
- request:
    body: '{"limit":1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.attio.com/v2/objects/people/records/query
  response:
    body:
      string: '{"data": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-accurate-at:
      - '2026-05-16T01:31:22.523000000Z'
      x-attio-execution-id:
      - f7b2b992-1b9c-49bd-b349-bb448b0c28f6
      x-attio-record-query-score:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: '{"limit":1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.attio.com/v2/objects/companies/records/query
  response:
    body:
      string: '{"data": [{"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1",
        "object_id": "74179437-bcdc-48d0-b401-e569a1278368", "record_id": "498f9009-e208-4386-90ce-f4c272b13a74"},
        "created_at": "2026-05-09T21:43:08.480000000Z", "web_url": "https://app.attio.com/doherty-consulting/company/498f9009-e208-4386-90ce-f4c272b13a74",
        "values": {"record_id": [{"active_from": "2026-05-09T21:43:08.480000000Z",
        "active_until": null, "created_by_actor": {"type": "workspace-member", "id":
        "635cebb2-d0d3-4c03-8485-44354bdf4cb1"}, "value": "498f9009-e208-4386-90ce-f4c272b13a74",
        "attribute_type": "text"}], "domains": [{"active_from": "2026-05-09T21:43:08.480000000Z",
        "active_until": null, "created_by_actor": {"type": "workspace-member", "id":
        "635cebb2-d0d3-4c03-8485-44354bdf4cb1"}, "domain": "popl.co", "root_domain":
        "popl.co", "attribute_type": "domain"}], "name": [{"active_from": "2026-05-09T21:43:08.480000000Z",
        "active_until": null, "created_by_actor": {"type": "workspace-member", "id":
        "635cebb2-d0d3-4c03-8485-44354bdf4cb1"}, "value": "Popl", "attribute_type":
        "text"}], "description": [{"active_from": "2026-05-09T21:43:08.732000000Z",
        "active_until": null, "created_by_actor": {"type": "system", "id": null},
        "value": "Popl is the top digital business card platform for teams and individuals,
        enabling easy contact sharing and lead generation globally.", "attribute_type":
        "text"}], "team": [], "categories": [{"active_from": "2026-05-09T21:43:08.733000000Z",
        "active_until": null, "created_by_actor": {"type": "system", "id": null},
        "option": {"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1",
        "object_id": "74179437-bcdc-48d0-b401-e569a1278368", "attribute_id": "54b40580-c0af-4b90-8f00-77853c27edd7",
        "option_id": "d4289cb1-4811-4b11-a28b-3ad2880d50b7"}, "title": "B2C", "is_archived":
        false}, "attribute_type": "select"}, {"active_from": "2026-05-09T21:43:08.733000000Z",
        "active_until": null, "created_by_actor": {"type": "system", "id": null},
        "option": {"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1",
        "object_id": "74179437-bcdc-48d0-b401-e569a1278368", "attribute_id": "54b40580-c0af-4b90-8f00-77853c27edd7",
        "option_id": "4adb623b-a001-4b1b-b1b1-f54e29be6f54"}, "title": "Information
        Technology & Services", "is_arc[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.attio.com/v2/self
  response:
    body:
      string: '{"active": true, "scope": "call_recording:read-write comment:read-write
        file:read-write list_configuration:read-write list_entry:read-write meeting:read-write
        note:read-write object_configuration:read-write record_permission:read-write
        task:read-write user_management:read-write webhook:read-write", "client_id":
        "df642098-becc-4c2b-b9c4-e5fff55a7049", "token_type": "Bearer", "exp": null,
        "iat": 1778892789, "sub": "74716136-8b3f-4b28-b67f-75d3212684e1", "aud": "df642098-becc-4c2b-b9c4-e5fff55a7049",
        "iss": "attio.com", "authorized_by_workspace_member_id": "635cebb2-d0d3-4c03-8485-44354bdf4cb1",
        "workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1", "workspace_name":
        "Test Workspace", "workspace_slug": "test-workspace", "workspace_logo_url":
        null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-attio-execution-id:
      - 38f0f93d-578e-4046-91fd-adfb518858dc
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"format":"plaintext","content":"Integration test comment - will
      be deleted","author":{"type":"workspace-member","id":"635cebb2-d0d3-4c03-8485-44354bdf4cb1"},"record":{"object":"companies","record_id":"498f9009-e208-4386-90ce-f4c272b13a74"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.attio.com/v2/comments
  response:
    body:
      string: '{"data": {"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1",
        "comment_id": "8e9d1d19-caa6-46a4-9fcf-dee2e62a96f2"}, "thread_id": "8e9d1d19-caa6-46a4-9fcf-dee2e62a96f2",
        "created_at": "2026-05-16T01:34:03.341000000Z", "resolved_at": null, "record":
        {"record_id": "498f9009-e208-4386-90ce-f4c272b13a74", "object_id": "74179437-bcdc-48d0-b401-e569a1278368"},
        "entry": null, "content_plaintext": "Integration test comment - will be deleted",
        "resolved_by": null, "author": {"type": "workspace-member", "id": "635cebb2-d0d3-4c03-8485-44354bdf4cb1"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-accurate-at:
      - '2026-05-16T01:34:03.428863000Z'
      x-attio-execution-id:
      - db96b8e7-c98c-4597-bb8d-948f8d1afd88
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.attio.com/v2/comments/8e9d1d19-caa6-46a4-9fcf-dee2e62a96f2
  response:
    body:
      string: '{"data": {"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1",
        "comment_id": "8e9d1d19-caa6-46a4-9fcf-dee2e62a96f2"}, "thread_id": "8e9d1d19-caa6-46a4-9fcf-dee2e62a96f2",
        "created_at": "2026-05-16T01:34:03.341000000Z", "resolved_at": null, "record":
        {"record_id": "498f9009-e208-4386-90ce-f4c272b13a74", "object_id": "74179437-bcdc-48d0-b401-e569a1278368"},
        "entry": null, "content_plaintext": "Integration test comment - will be deleted",
        "resolved_by": null, "author": {"type": "workspace-member", "id": "635cebb2-d0d3-4c03-8485-44354bdf4cb1"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-accurate-at:
      - '2026-05-16T01:34:03.781271000Z'
      x-attio-execution-id:
      - 62b5d321-b9d3-4220-b1d0-31578391c849
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.attio.com/v2/comments/8e9d1d19-caa6-46a4-9fcf-dee2e62a96f2
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-attio-execution-id:
      - 5ead8fbf-cca9-4fa8-8608-64680b180edf
    status:
      code: 200
      message: OK
version: 1
