interactions:
- request:
    body: '{"limit":5}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.attio.com/v2/objects/companies/records/query
  response:
    body:
      string: '{"data": [{"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1",
        "object_id": "74179437-bcdc-48d0-b401-e569a1278368", "record_id": "498f9009-e208-4386-90ce-f4c272b13a74"},
        "created_at": "2026-05-09T21:43:08.480000000Z", "web_url": "https://app.attio.com/doherty-consulting/company/498f9009-e208-4386-90ce-f4c272b13a74",
        "values": {"record_id": [{"active_from": "2026-05-09T21:43:08.480000000Z",
        "active_until": null, "created_by_actor": {"type": "workspace-member", "id":
        "635cebb2-d0d3-4c03-8485-44354bdf4cb1"}, "value": "498f9009-e208-4386-90ce-f4c272b13a74",
        "attribute_type": "text"}], "domains": [{"active_from": "2026-05-09T21:43:08.480000000Z",
        "active_until": null, "created_by_actor": {"type": "workspace-member", "id":
        "635cebb2-d0d3-4c03-8485-44354bdf4cb1"}, "domain": "popl.co", "root_domain":
        "popl.co", "attribute_type": "domain"}], "name": [{"active_from": "2026-05-09T21:43:08.480000000Z",
        "active_until": null, "created_by_actor": {"type": "workspace-member", "id":
        "635cebb2-d0d3-4c03-8485-44354bdf4cb1"}, "value": "Popl", "attribute_type":
        "text"}], "description": [{"active_from": "2026-05-09T21:43:08.732000000Z",
        "active_until": null, "created_by_actor": {"type": "system", "id": null},
        "value": "Popl is the top digital business card platform for teams and individuals,
        enabling easy contact sharing and lead generation globally.", "attribute_type":
        "text"}], "team": [], "categories": [{"active_from": "2026-05-09T21:43:08.733000000Z",
        "active_until": null, "created_by_actor": {"type": "system", "id": null},
        "option": {"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1",
        "object_id": "74179437-bcdc-48d0-b401-e569a1278368", "attribute_id": "54b40580-c0af-4b90-8f00-77853c27edd7",
        "option_id": "d4289cb1-4811-4b11-a28b-3ad2880d50b7"}, "title": "B2C", "is_archived":
        false}, "attribute_type": "select"}, {"active_from": "2026-05-09T21:43:08.733000000Z",
        "active_until": null, "created_by_actor": {"type": "system", "id": null},
        "option": {"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1",
        "object_id": "74179437-bcdc-48d0-b401-e569a1278368", "attribute_id": "54b40580-c0af-4b90-8f00-77853c27edd7",
        "option_id": "4adb623b-a001-4b1b-b1b1-f54e29be6f54"}, "title": "Information
        Technology & Services", "is_arc[...]
