interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.attio.com/v2/objects/companies/records?limit=5
  response:
    body:
      string: '{"status_code": 404, "type": "invalid_request_error", "code": "not_found",
        "message": "Could not find endpoint \"GET /v2/objects/companies/records\"."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-attio-execution-id:
      - ed303b50-34df-444a-9603-d50c06a00c05
    status:
      code: 404
      message: Not Found
version: 1
