interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.attio.com/v2/objects/deals/records?limit=5
  response:
    body:
      string: '{"status_code": 404, "type": "invalid_request_error", "code": "not_found",
        "message": "Could not find endpoint \"GET /v2/objects/deals/records\"."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-attio-execution-id:
      - 01291957-e3eb-40f5-98b5-aa9bbc122554
    status:
      code: 404
      message: Not Found
version: 1
