interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.attio.com/v2/objects/people
  response:
    body:
      string: '{"data":{"id":{"workspace_id":"74716136-8b3f-4b28-b67f-75d3212684e1","object_id":"0b1c77ca-9b81-47ba-8d2e-490c74901031"},"api_slug":"people","singular_noun":"Person","plural_noun":"People","created_at":"2025-11-03T18:16:13.152000000Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-accurate-at:
      - '2026-05-16T01:12:27.214706000Z'
      x-attio-execution-id:
      - 707eeee2-68a2-4b00-9773-9e8e07f6f9a1
    status:
      code: 200
      message: OK
version: 1
