interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.attio.com/v2/objects/people/records?limit=5
  response:
    body:
      string: '{"status_code": 404, "type": "invalid_request_error", "code": "not_found",
        "message": "Could not find endpoint \"GET /v2/objects/people/records\"."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-attio-execution-id:
      - 47eccadf-42f2-4e24-9e33-ca30c6cefc2a
    status:
      code: 404
      message: Not Found
version: 1
