interactions:
- request:
    body: '{"query":"a","objects":["people","companies"],"limit":5}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.attio.com/v2/objects/records/search
  response:
    body:
      string: '{"status_code": 400, "type": "invalid_request_error", "code": "validation_type",
        "message": "Body payload validation error.", "validation_errors": [{"code":
        "invalid", "path": ["request_as"], "message": "Invalid input"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-attio-execution-id:
      - 95269b9f-45d1-41a3-a460-8ec87eb5d7b6
    status:
      code: 400
      message: Bad Request
version: 1
