interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.attio.com/v2/objects/companies/attributes/categories/options
  response:
    body:
      string: '{"data": [{"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1",
        "object_id": "74179437-bcdc-48d0-b401-e569a1278368", "attribute_id": "54b40580-c0af-4b90-8f00-77853c27edd7",
        "option_id": "4070f8a2-a420-42aa-9cd5-ff982e131ca8"}, "title": "3D Printing",
        "is_archived": false}, {"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1",
        "object_id": "74179437-bcdc-48d0-b401-e569a1278368", "attribute_id": "54b40580-c0af-4b90-8f00-77853c27edd7",
        "option_id": "ce7cf72a-4e5b-43df-8af9-2b1b9ca4f6dc"}, "title": "Accounting",
        "is_archived": false}, {"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1",
        "object_id": "74179437-bcdc-48d0-b401-e569a1278368", "attribute_id": "54b40580-c0af-4b90-8f00-77853c27edd7",
        "opti[...]
