interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.attio.com/v2/self
  response:
    body:
      string: '{"active": true, "scope": "call_recording:read-write comment:read-write
        file:read-write list_configuration:read-write list_entry:read-write meeting:read-write
        note:read-write object_configuration:read-write record_permission:read-write
        task:read-write user_management:read-write webhook:read-write", "client_id":
        "df642098-becc-4c2b-b9c4-e5fff55a7049", "token_type": "Bearer", "exp": null,
        "iat": 1778892789, "sub": "74716136-8b3f-4b28-b67f-75d3212684e1", "aud": "df642098-becc-4c2b-b9c4-e5fff55a7049",
        "iss": "attio.com", "authorized_by_workspace_member_id": "635cebb2-d0d3-4c03-8485-44354bdf4cb1",
        "workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1", "workspace_name":
        "Test Workspace", "workspace_slug": "test-workspace", "workspace_logo_url":
        null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-attio-execution-id:
      - c0deb022-1ef9-450f-a489-3e55e42abd6f
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.attio.com/v2/self
  response:
    body:
      string: '{"active": true, "scope": "call_recording:read-write comment:read-write
        file:read-write list_configuration:read-write list_entry:read-write meeting:read-write
        note:read-write object_configuration:read-write record_permission:read-write
        task:read-write user_management:read-write webhook:read-write", "client_id":
        "df642098-becc-4c2b-b9c4-e5fff55a7049", "token_type": "Bearer", "exp": null,
        "iat": 1778892789, "sub": "74716136-8b3f-4b28-b67f-75d3212684e1", "aud": "df642098-becc-4c2b-b9c4-e5fff55a7049",
        "iss": "attio.com", "authorized_by_workspace_member_id": "635cebb2-d0d3-4c03-8485-44354bdf4cb1",
        "workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1", "workspace_name":
        "Test Workspace", "workspace_slug": "test-workspace", "workspace_logo_url":
        null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-attio-execution-id:
      - dd32f9f4-5a4a-4a1f-bd01-0a8c0325c8d4
    status:
      code: 200
      message: OK
version: 1
