interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.attio.com/v2/objects/deals/attributes/stage/statuses
  response:
    body:
      string: '{"data": [{"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1",
        "object_id": "ee436058-77a1-49f0-ad36-1fd67798d7db", "attribute_id": "62223a68-9a27-4176-a5a7-acd83ce36dc8",
        "status_id": "5fe9ed26-d25a-478d-970d-cf599d02b23f"}, "title": "Discovery",
        "is_archived": false, "target_time_in_status": null, "celebration_enabled":
        false}, {"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1", "object_id":
        "ee436058-77a1-49f0-ad36-1fd67798d7db", "attribute_id": "62223a68-9a27-4176-a5a7-acd83ce36dc8",
        "status_id": "606af267-5baf-4017-b09f-ebe2d01b532a"}, "title": "Solution Definition",
        "is_archived": false, "target_time_in_status": null, "celebration_enabled":
        false}, {"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1", "object_id":
        "ee436058-77a1-49f0-ad3[...]
