interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.attio.com/v2/workspace_members
  response:
    body:
      string: '{"data": [{"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1",
        "workspace_member_id": "635cebb2-d0d3-4c03-8485-44354bdf4cb1"}, "first_name":
        "Test", "last_name": "User", "avatar_url": null, "email_address": "test@example.com",
        "access_level": "admin", "created_at": "2025-11-03T18:16:17.133000000Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-accurate-at:
      - '2026-05-16T01:12:29.115068000Z'
      x-attio-execution-id:
      - 6557a3ad-4cda-4d74-a7fd-c8931d9d48fc
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.attio.com/v2/workspace_members
  response:
    body:
      string: '{"data": [{"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1",
        "workspace_member_id": "635cebb2-d0d3-4c03-8485-44354bdf4cb1"}, "first_name":
        "Test", "last_name": "User", "avatar_url": null, "email_address": "test@example.com",
        "access_level": "admin", "created_at": "2025-11-03T18:16:17.133000000Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-accurate-at:
      - '2026-05-16T01:32:46.311603000Z'
      x-attio-execution-id:
      - bfa41bf0-31dd-470c-8ce3-7b0349ca612c
    status:
      code: 200
      message: OK
version: 1
