interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.attio.com/v2/workspace_members
  response:
    body:
      string: '{"data": [{"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1",
        "workspace_member_id": "635cebb2-d0d3-4c03-8485-44354bdf4cb1"}, "first_name":
        "Test", "last_name": "User", "avatar_url": null, "email_address": "test@example.com",
        "access_level": "admin", "created_at": "2025-11-03T18:16:17.133000000Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-accurate-at:
      - '2026-05-16T01:31:26.087094000Z'
      x-attio-execution-id:
      - 8e647dc5-4920-4e98-880f-6cc95889834a
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.attio.com/v2/workspace_members/635cebb2-d0d3-4c03-8485-44354bdf4cb1
  response:
    body:
      string: '{"data": {"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1",
        "workspace_member_id": "635cebb2-d0d3-4c03-8485-44354bdf4cb1"}, "first_name":
        "Test", "last_name": "User", "avatar_url": null, "email_address": "test@example.com",
        "access_level": "admin", "created_at": "2025-11-03T18:16:17.133000000Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-accurate-at:
      - '2026-05-16T01:31:26.950048000Z'
      x-attio-execution-id:
      - 06b7935f-6b21-414f-a9a6-4354299e25aa
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.attio.com/v2/workspace_members/635cebb2-d0d3-4c03-8485-44354bdf4cb1
  response:
    body:
      string: '{"data": {"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1",
        "workspace_member_id": "635cebb2-d0d3-4c03-8485-44354bdf4cb1"}, "first_name":
        "Test", "last_name": "User", "avatar_url": null, "email_address": "test@example.com",
        "access_level": "admin", "created_at": "2025-11-03T18:16:17.133000000Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-accurate-at:
      - '2026-05-16T01:32:46.794535000Z'
      x-attio-execution-id:
      - 25b4b8ac-537e-45b1-85ee-258135d5e218
    status:
      code: 200
      message: OK
version: 1
