interactions:
- request:
    body: ''
    headers:
      content-type: application/json
    method: GET
    url: https://api.attio.com/v2/lists
  response:
    body: '{"data": [{"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1",
      "list_id": "30bfd20d-ced7-4474-9776-70466ed9d117"}, "api_slug": "target_logos_6",
      "created_at": "2025-12-15T00:51:46.411000000Z", "name": "Target Logos", "workspace_access":
      "full-access", "workspace_member_access": [{"level": "full-access", "workspace_member_id":
      "635cebb2-d0d3-4c03-8485-44354bdf4cb1"}], "parent_object": ["companies"], "created_by_actor":
      {"type": "workspace-member", "id": "635cebb2-d0d3-4c03-8485-44354bdf4cb1"}},
      {"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1", "list_id": "a63f2393-c988-429f-a0cb-2f88325ac25a"},
      "api_slug": "deal_movement_last_7_days", "created_at": "2025-12-16T00:42:09.988000000Z",
      "name": "Deal Movement Last 7 Days", "workspace_access": null, "workspace_member_access":
      [{"level": "full-access", "workspace_member_id": "635cebb2-d0d3-4c03-8485-44354bdf4cb1"}],
      "parent_object": ["deals"], "created_by_actor": {"type": "workspace-member",
      "id": "635cebb2-d0d3-4c03-8485-44354bdf4cb1"}}, {"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1",
      "list_id": "2ffc93cb-fdd6-4037-a471-45c4df487a76"}, "api_slug": "test_list",
      "created_at": "2026-01-15T17:52:52.829000000Z", "name": "Test List", "workspace_access":
      "full-access", "workspace_member_access": [{"level": "full-access", "workspace_member_id":
      "635cebb2-d0d3-4c03-8485-44354bdf4cb1"}], "parent_object": ["companies"], "created_by_actor":
      {"type": "workspace-member", "id": "635cebb2-d0d3-4c03-8485-44354bdf4cb1"}}]}'
    headers:
      content-type: application/json; charset=utf-8
      x-accurate-at: '2026-05-16T01:12:25.376553000Z'
      x-attio-execution-id: 118cd2b0-fdb5-4f21-8ab9-f130e6aafda0
    status: 200
    statusText: OK
- request:
    body: ''
    headers:
      authorization: Bearer sk_test_REDACTED
    method: GET
    url: https://api.attio.com/v2/lists/target_logos_6
  response:
    body: '{"data": {"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1",
      "list_id": "30bfd20d-ced7-4474-9776-70466ed9d117"}, "api_slug": "target_logos_6",
      "created_at": "2025-12-15T00:51:46.411000000Z", "name": "Target Logos", "workspace_access":
      "full-access", "workspace_member_access": [{"level": "full-access", "workspace_member_id":
      "635cebb2-d0d3-4c03-8485-44354bdf4cb1"}], "parent_object": ["companies"], "created_by_actor":
      {"type": "workspace-member", "id": "635cebb2-d0d3-4c03-8485-44354bdf4cb1"}}}'
    headers:
      content-type: application/json; charset=utf-8
    status: 200
    statusText: OK
version: 1
