interactions:
- request:
    body: ''
    headers:
      content-type: application/json
    method: GET
    url: https://api.attio.com/v2/objects/companies
  response:
    body: '{"data": {"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1",
      "object_id": "74179437-bcdc-48d0-b401-e569a1278368"}, "api_slug": "companies",
      "singular_noun": "Company", "plural_noun": "Companies", "created_at": "2025-11-03T18:16:13.152000000Z"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-accurate-at: '2026-05-16T01:32:53.569577000Z'
      x-attio-execution-id: 03a638b7-4578-4d52-9df4-af60229d49b4
    status: 200
    statusText: OK
version: 1
