interactions:
- request:
    body: ''
    headers:
      content-type: application/json
    method: GET
    url: https://api.attio.com/v2/objects
  response:
    body: '{"data": [{"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1",
      "object_id": "0b1c77ca-9b81-47ba-8d2e-490c74901031"}, "api_slug": "people",
      "singular_noun": "Person", "plural_noun": "People", "created_at": "2025-11-03T18:16:13.152000000Z"},
      {"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1", "object_id":
      "74179437-bcdc-48d0-b401-e569a1278368"}, "api_slug": "companies", "singular_noun":
      "Company", "plural_noun": "Companies", "created_at": "2025-11-03T18:16:13.152000000Z"},
      {"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1", "object_id":
      "8d6e99d2-d498-4b18-9c8a-a2be9d6b36c3"}, "api_slug": "projects", "singular_noun":
      "Project", "plural_noun": "Projects", "created_at": "2026-01-10T07:57:01.177000000Z"},
      {"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1", "object_id":
      "da31c544-d17c-4b63-83c0-d788f353e6af"}, "api_slug": "workspace_members", "singular_noun":
      "Workspace Member", "plural_noun": "Workspace Members", "created_at": "2026-02-24T17:15:29.179000000Z"},
      {"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1", "object_id":
      "e1921cb5-12b6-4943-9601-a145eea9d3f3"}, "api_slug": "activities", "singular_noun":
      "Lemlist Activity", "plural_noun": "Lemlist Activities", "created_at": "2026-03-04T00:49:06.696000000Z"},
      {"id": {"workspace_id": "74716136-8b3f-4b28-b67f-75d3212684e1", "object_id":
      "ee436058-77a1-49f0-ad36-1fd67798d7db"}, "api_slug": "deals", "singular_noun":
      "Deal", "plural_noun": "Deals", "created_at": "2025-11-03T18:16:13.152000000Z"}]}'
    headers:
      content-type: application/json; charset=utf-8
      x-accurate-at: '2026-05-16T01:12:26.881185000Z'
      x-attio-execution-id: c5ad7ac3-2025-4c07-b290-2ba798f8369d
    status: 200
    statusText: OK
version: 1
